* {
    padding: 0em;
    margin: 0em;
}
#about_wrapper_header{
    position: relative;
    height: 100px;
    width: 1365px;
}
.icon {
    padding:2.5em;
    position: absolute;
    padding-left: 8em;
}
.header {
    margin-left: 58em;
    position: relative;
}
.header ul{
    padding: 2.5em;
}
.header li:hover{
    color: #10c9c3;
    transition-duration: 0.25s;
}
.one {
      color: #10c9c3;
}
ul {
    list-style-type: none;
    display: flex;
    
}
li {
    padding-left: 2em;
    position: relative;
}
a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
}
#wrapper_contact {
    position: relative;
    width: 1365px;
    height: 609px;
    background-color: #f5f5f5;
   
}
.contact{
    display: flex;
    position:relative;
}
.contact_col_1 {
    position: relative;
    width: 514px;
    height: 609px;
}
.contact_col_2 {
    position: relative;
    width: 851px;
    height: 609px;
    
    
}
input[type=text]{
    padding: 1em 1em 1em 1em ;
    border: none ;
    font-family: 'Montserrat', sans-serif;
}
.your_name,.your_email {
    width: 319px;
}
.contact_row_2 {
    padding-top: 31px;
}
.your_name {
    margin-right: 30px;
}
.your_title { 
    width: 699px;
}
.contact_row_1 {
    padding-top: 100px;
}
textarea {
    resize: none;
    border: none;
    width: 712px;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    color: #787878;
    padding-top: 1em;
    padding-left: 1em;
}
.contact_row_3 {
    position: relative;
}
.your_comment{
    padding-top:33px;
}
button {
    padding: 1em 2em 1em 2em;
    border: 1px solid #10c9c3;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #10c9c3;
}
button:hover{
    background:#10c9c3;
    color: white;
    transition-duration: 0.25s;
}
.contact_button {
    padding-top: 31px;
}
.contact_col_1 h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    padding-top: 97px;
    padding-left: 95px;
}
.contact_col_1 p {
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    padding-left: 95px;
    
}

.contact_info p{
    top: 150px;
    font-size: 13pt;
    line-height: 40px;
}
.info_col_1 {
    font-weight: bold;
}
.content_col_1 {
    padding-left: 5px;
     color: #787878;
    font-weight: bolder;
}
#wrapper_map{
    position: relative;
    width: 1365px;
    height: 569px;
    background-color: #f5f5f5;
}
.map {
    width: 1170px;
    height: 467px;
    background-color: #e0e0e0;
    margin-left: 5em;
}
.info_map {
    position:relative;
}
.info_map img {
    position: absolute;
    left: 35em;
    top: 18em;
}
#wrapper_footer{
    position: relative;
    border: 1px solid black;
    width: 1365px;
    height: 285px;
    background-color: #141414;
}
.footer {
    display: flex;
}
.footer_col_1 {
    padding-left: 98px;
    padding-top: 101px;
}
.footer_col_1 h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
    
}
.footer_col_1 p {
    color: #bcbcbc;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15pt;
}
.footer_col_2 {
    padding-left: 98px;
    padding-top: 101px;
    color: #bcbcbc;
    font-family: 'Nunito Sans', sans-serif;
}
.footer_col_3 {
    position: relative;
    width: 7em;
    height: 285px;
    margin-left: 30em;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;    
}
.footer_col_3 a {
    color: #bcbcbc;;
    font-weight: bold;
    text-decoration: none;
    
    
}
.footer_col_3 p {
    padding:0.5em;
    
}
.footer_link{
    margin-top: 3em;
}
.footer_col_3 p:hover{
    color: #F4932A;
    transition-duration: 0.25s;
}
